.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;

  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .contact, .social-media, .legal {
    flex: 1;
    margin-right: 20px;
  }
  
  .social-media ul, .legal ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-media ul li, .legal ul li {
    margin-bottom: 10px;
  }
  
  .social-media ul li a, .legal ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-media ul li a:hover, .legal ul li a:hover {
    text-decoration: underline;
  }
  