

html, body { height: 100%; }



@tailwind base;
@tailwind components;
@tailwind utilities;



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-image: url('./assets/images/background.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
    background-size: cover;
    background-position: center; /* This will position the image at the center */
    /* You can also use other background properties to customize further */
    /* For example: background-repeat: no-repeat; */
  }